<div class="frame">
  <div class="text-wrapper">Create New</div>
  <div class="div">
    <div class="new-doc">
      <div class="div-2">
        <div class="plus">
          <div class="overlap-group">
            <div class="rectangle"></div>
            <div class="rectangle-2"></div>
          </div>
        </div>
      </div>
      <div class="title">New</div>
    </div>
    <div class="new-doc">
      <div class="div-2"><img class="img" src="img/doc.svg" /></div>
      <div class="title">Doc</div>
    </div>
    <div class="new-doc">
      <div class="div-2"><img class="img" src="img/w.svg" /></div>
      <div class="title">Wispy</div>
    </div>
    <div class="new-doc">
      <div class="div-2"><img class="img" src="img/t.svg" /></div>
      <div class="title">Toci</div>
    </div>
  </div>

</div>
