header {
    height: 80px;
    background-color: var(--color-greenPrimary);

    .logo {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        color: white;
        align-items: center;
        vertical-align: middle;
    }
}